<!DOCTYPE html>
<html>
<head>
<!-- ========== Title Area Started ========== -->
<title>Fulminating Plugin || BreeZe Welcome Page Template</title>
<!-- ========== Title Area Finished ========== -->
<!-- ========== Meta Tags Area Started ========== -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<!-- ========== Meta Tags Area Finished ========== -->
<!-- ========== Link Area Started ========== -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/animate.min.css">
<link rel="stylesheet" type="text/css" href="css/aos.css">
<link rel="stylesheet" href="css/swipeSlider.css">
<!-- ========== Link Area Finished ========== -->
<!-- ========== Script Area Started ========== -->
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/jQuery-face-cursor.js"></script>
<script type="text/javascript" src="js/breeze.js"></script>
<script type="text/javascript" src="js/aos.js"></script>
<script type="text/javascript" src="js/swiper.min.js"></script>
<!-- ========== Script Area Finished ========== -->

<style>
</style>
</head>
<body>
	<!--========== Language Area Start ==========-->
	<div class="language_container">
		<div class="language_form_area">
			<div class="language_area_close">
				<div class="lang_icon lang_close_icon"></div>
			</div>
			<div class="language_form_element">
				<div class="language_caption">Language</div>
			</div>
			<div class="general_language_area">
				<div class="lang_caption">English</div>
				<div class="lang_caption">Turkish</div>
			</div>
		</div>
	</div>
	<div class="wrapperl"></div>
	<!--========== Language Area Start ==========-->
	<!--========== Login Area Start ==========-->
	<div class="login_container">
		<div class="login_form_container" id="login_form_container">
			<div class="close_login">
				<div class="login_icon close_icon"></div>
			</div>
			<div class="login">
				<form  th:action="@{/login}" class="loginform" enctype="multipart/form-data" method="post"id="loginform">
					<div class="login_logo">Breeze</div>
					<div class="login_forgot">
						<div class="register_icon email_icon"></div>
						<input type="password" name="" class="logi_input email"
							placeholder="E-Mail">
					</div>
					<div class="forgot_login">
						<input type="submit" name="" value="Reset Password"
							class="logins_buton">
					</div>
					<div class="forgot_exit">
						<input type="submit" name="" value="I Remembered"
							class="logins_buton">
					</div>
					<div class="login_input">
						<div class="login_icon username_icon"></div>
						<input type="text" name="username"
							class="logi_input username" placeholder="Username">
					</div>
					<div class="login_input">
						<div class="login_icon password_icon"></div>
						<input type="password" name="password"
							class="logi_input password" placeholder="Password">
						<div class="forgot">
							<a href="#">Forgot password?</a>
						</div>
					</div>
					<div class="loginss_button">
						<input type="submit" name="submit" value="Sign In"
							class="logins_buton" id="login_submit">
					</div>
					</form>
			</div>
			
		</div>
	</div>
	<div class="wrappers"></div>
	<!--========== Login Area Finish ==========-->
	<!--================== Register Area Start =======================-->
	<div class="register_container">
		<div class="register_form_container" id="register_form_container">
			<div class="close_register">
				<div class="login_icon close_icon"></div>
			</div>
			<div class="register">
				<form th:action="@{/register}" th:object="${user}"
					class="register-form" method="POST" id="registerform">
					<div class="reg_logo">Breeze</div>
					<div class="register_input">
						<div class="register_icon username_icon"></div>
						<input type="text" th:field="*{username}" name="reusername"
							class="regis_input" placeholder="Username" />
					</div>
					<div class="register_input">
						<div class="register_icon fullname_icon"></div>
						<input type="text" th:field="*{fullname}" name="fullname"
							class="regis_input" placeholder="Fullname" />
					</div>
					<div class="register_input">
						<div class="register_icon email_icon"></div>
						<input type="text" th:field="*{email}" name="regemail"
							class="regis_input" placeholder="E-Mail" />
					</div>
					<div class="register_input">
						<div class="register_icon password_icon"></div>
						<input type="password" th:field="*{password}" name="password"
							class="regis_input password" placeholder="Password" />
					</div>
					<div class="date">
						<div class="day">
							<select class="day" th:field="*{day}" name="birth_day">
								<option value="">Day</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
							</select>
						</div>
						<div class="month">
							<select class="month" th:field="*{month}" name="birth_month">
								<option value="">Month</option>
								<option value="January">January</option>
								<option value="February">February</option>
								<option value="March">March</option>
								<option value="April">April</option>
								<option value="May">May</option>
								<option value="June">June</option>
							</select>
						</div>
						<div class="year">
							<select class="year" th:field="*{year}" name="birth_year">
								<option value="">Year</option>
								<option value="2011">2011</option>
								<option value="2012">2012</option>
								<option value="2013">2013</option>
								<option value="2014">2014</option>
								<option value="2015">2015</option>
								<option value="2016">2016</option>
							</select>
						</div>
					</div>
					<div class="gender">
						<label for="gender_male"> <input type="radio"
							th:field="*{gender}" name="gender" id="gender_male" value="Male">Male
						</label> <label for="gender_female"> <input type="radio"
							th:field="*{gender}" name="gender" id="gender_female"
							value="Female">Female
						</label>
					</div>
					<div class="register_button">
						<input type="submit" value="Sign In" class="regis_buton">
							</form>
					</div>
			
			
			</div>
		</div>
	</div>
	<div class="wrapperr"></div>
	<!--================== Register Area Finish =======================-->
	<!--========== Section Container Start==========-->
	<div class="container" data-parallax-axis="both"
		data-parallax-scope="global" data-parallax-detect="mouseover">
		<div class="test fulminating" data-parallax-depth="10"></div>
		<div class="test_shadow fulminating" data-parallax-depth="6"></div>
		<div class="language">
			<div class="language_icon"></div>
			<div class="lang">Language</div>
		</div>
		<div class="section_container">
			<div class="container_area">
				<div class="container_label curs">Breeze</div>
				<div class="butons_group">
					<div class="butons">
						<input type="submit" name="" value="Sign In" class="login_buton">
					</div>
					<div class="butons">
						<input type="submit" name="" value="Register"
							class="register_buton">
					</div>
				</div>
				<div class="user_label">Last Registered Members</div>
				<div class="last_user ">
					<div class="user curs">
						<img src="css/pics/user1.jpg">
					</div>
					<div class="user curs">
						<img src="css/pics/user1.jpg">
					</div>
					<div class="user curs">
						<img src="css/pics/user1.jpg">
					</div>
					<div class="user curs">
						<img src="css/pics/user1.jpg">
					</div>
					<div class="user curs">
						<img src="css/pics/user1.jpg">
					</div>
				</div>
				<div class="icon_area">
					<div class="icon_scroll scrollFade"></div>
				</div>
			</div>
		</div>
	</div>
	<!--========== Section Container Finish==========-->
	<!--========== Mobile Section Start==========-->
	<div class="mobile_section">
		<!--========== Loading Circles STARTED ==========-->
		<div class="landing-circle3">
			<img src="css/pics/main.png" alt="">
		</div>
		<div class="landing-circle4">
			<img src="css/pics/main.png" alt="">
		</div>
		<div class="mountains mountains_midground"></div>
		<div class="mountains mountains_foreground"></div>
		<!--========== Loading Circles FINISHED==========-->
		<div class="mobile_area">
			<div class="mobile_title">
				<div class="mobile_captions" data-aos="fade-up"
					data-aos-easing="ease-in-sine" data-aos-duration="800">
					Awesome <b>Apps</b> Features
				</div>
				<div class="mobile_plus" data-aos="fade-up"
					data-aos-easing="ease-in-sine" data-aos-duration="900">Here
					you are welcome to present number of the most characteristic
					features of your app you are proud of.</div>
			</div>
		</div>
		<div class="mobile_sections">
			<div class="section_area">
				<div class="broad_area">
					<div class="mobile_information text_post_icon"
						data-aos="fade-right" data-aos-easing="ease-in-sine"
						data-aos-duration="500">
						<div class="mobile_caption">Exclusive Design</div>
						<div class="mobile_explanation">Lorem Ipsum is simply dummy
							text of the printing and typesetting industry.</div>
					</div>
					<div class="mobile_information image_post_icon"
						data-aos="fade-right" data-aos-easing="ease-in-sine"
						data-aos-duration="800">
						<div class="mobile_caption">Fully Responsive</div>
						<div class="mobile_explanation">Lorem Ipsum is simply dummy
							text of the printing and typesetting industry.</div>
					</div>
					<div class="mobile_information link_post_icon"
						data-aos="fade-right" data-aos-easing="ease-in-sine"
						data-aos-duration="1100">
						<div class="mobile_caption">Fast & Powerful</div>
						<div class="mobile_explanation">Lorem Ipsum is simply dummy
							text of the printing and typesetting industry.</div>
					</div>
				</div>
				<div class="broad_area section_broad">
					<div class="mobile_center">
						<div class="center_arrow">
							<div class="arrow_cicrle cicrle_space" data-aos="zoom-in"
								data-aos-easing="ease-in-sine" data-aos-duration="700"></div>
							<div class="arrow_cicrle cicrle_space" data-aos="zoom-in"
								data-aos-easing="ease-in-sine" data-aos-duration="800"></div>
							<div class="arrow_cicrle cicrle_space" data-aos="zoom-in"
								data-aos-easing="ease-in-sine" data-aos-duration="900"></div>
						</div>
						<div class="arrow_plus" data-aos="zoom-in"
							data-aos-easing="ease-in-sine" data-aos-duration="700"></div>
						<div class="arrow_plus" data-aos="zoom-in "
							data-aos-easing="ease-in-sine " data-aos-duration="800 "></div>
						<div class="arrow_plus " data-aos="zoom-in "
							data-aos-easing="ease-in-sine " data-aos-duration="900 "></div>
					</div>
				</div>
				<div class="broad_area ">
					<div class="mobile_information music_post_icon"
						data-aos="fade-left" data-aos-easing="ease-in-sine"
						data-aos-duration="500">
						<div class="mobile_caption ">Constant Updates</div>
						<div class="mobile_explanation ">Lorem Ipsum is simply dummy
							text of the printing and typesetting industry.</div>
					</div>
					<div class="mobile_information video_post_icon"
						data-aos="fade-left" data-aos-easing="ease-in-sine"
						data-aos-duration="800">
						<div class="mobile_caption ">Excellent Support</div>
						<div class="mobile_explanation ">Lorem Ipsum is simply dummy
							text of the printing and typesetting industry</div>
					</div>
					<div class="mobile_information map_post_icon" data-aos="fade-left"
						data-aos-easing="ease-in-sine" data-aos-duration="1100">
						<div class="mobile_caption ">Enjoy it</div>
						<div class="mobile_explanation ">Lorem Ipsum is simply dummy
							text of the printing and typesetting industry</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--========== Mobile Section Finish ==========-->
	<!--========== Section TREE STARTED ==========-->
	<div class="section_tree ">
		<div class="section_middle ">
			<div class="free_box ">
				<div class="free_img "></div>
				<div class="free_label ">Huseyin Harman</div>
			</div>
			<div class="free_box_two ">
				<div class="free_img_two "></div>
				<div class="free_label_two ">Cemal Temizoglu</div>
			</div>
			<div class="section_title_big" data-aos="fade-up"
				data-aos-duration="1000">Easily communicate with client using
				chatbox.</div>

			<div class="section_chat_text" data-aos="fade-up "
				data-aos-duration="2000 ">Do not stop chatting with client
				when you're far away.</div>
			<div class="section_screen_area" data-aos="fade-up"
				data-aos-duration="3000">
				<div class="top-bar">
					<div class="circles ">
						<div class="circle circle-red "></div>
						<div class="circle circle-yellow "></div>
						<div class="circle circle-blue "></div>
					</div>
				</div>
				<div class="content ">
					<img src="css/pics/chat_page.png " alt="image ">
				</div>
			</div>
		</div>
	</div>
	<!--========== Section TREE FINISHED ==========-->
	<!--========== Section FOUR STARTED ==========-->
	<div class="section_four">
		<div class="section_center">
			<div class="section_title_big_smole aos-init aos-animate"
				data-aos="fade-up" data-aos-duration="1000">Promote your
				business easily</div>
			<div class="section_chat_text aos-init aos-animate"
				data-aos="fade-up" data-aos-duration="2000">Upload an image
				and filter images with nice Make happy your followers with your
				filtered images.</div>
			<div class="section_mid">
				<!--========= Swipe Slider STARTED =========-->
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide"
							style="background-image: url(css/pics/filter_1.png)"></div>
						<div class="swiper-slide swiper-slide-active"
							style="background-image: url(css/pics/bike.png)"></div>
						<div class="swiper-slide"
							style="background-image: url(css/pics/filter_2.png)"></div>
						<div class="swiper-slide"
							style="background-image: url(css/pics/filter_3.png)"></div>
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
				</div>
				<!--========= Swipe Slider FINISHED =========-->
			</div>
		</div>
		<div id="uc_sliding_diagonals_background_effect_bg_addon19685"
			style="overflow: hidden; width: 100%;">
			<div class="uc-bg"></div>
			<div class="uc-bg uc-bg2"></div>
			<div class="uc-bg uc-bg3"></div>
		</div>
	</div>
	<!--========== Section FOUR FINISED ==========-->
	<!--========== Section IX STARTED ==========-->
	<div class="section_mobile">
		<div class="container_mobile">
			<div class="section_three" id="section_three">
				<div class="fast_icon f_icon"></div>
				<div class="fast_icon f_icon"></div>
				<div class="fast_icon f_icon"></div>
				<div class="fast_icon f_icon"></div>
				<div class="fast_icon f_icon"></div>
				<div class="fast_icon f_icon"></div>
				<div class="fast_icon f_icon"></div>
				<div class="fast_icon f_icon"></div>
				<div class="fast_icon f_icon"></div>
				<div class="general_area">
					<div class="left_main_area">
						<div class="left_main_caption_area">
							<div class="caption" style="text-align: left;"
								data-aos="fade-down" data-aos-easing="linear"
								data-aos-duration="500">Easy User Interface</div>
							<div class="bottom_exp" style="text-align: left;"
								data-aos="fade-down" data-aos-easing="linear"
								data-aos-duration="700">They're probably distracted too.
								Keep it simple and beautiful, fun and functional. Clean
								aesthetics suppord.</div>
						</div>
						<div class="posts_corner">
							<div class="posts_one" data-aos="fade-right"
								data-aos-easing="ease-in-sine" data-aos-duration="900">
								<div class="tick_icon"></div>
								<div class="rotate_icon"></div>
								Live User Chat
							</div>
							<div class="posts_one" data-aos="fade-right"
								data-aos-easing="ease-in-sine" data-aos-duration="900">
								<div class="tick_icon"></div>
								<div class="rotate_icon"></div>
								Instant Notificationt
							</div>
							<div class="posts_one" data-aos="fade-right"
								data-aos-easing="ease-in-sine" data-aos-duration="1100">
								<div class="tick_icon"></div>
								<div class="rotate_icon"></div>
								Dedicated Support
							</div>
						</div>
					</div>
				</div>
				<div class="general_area telephone">
					<div class="telephone_area">
						<img src="css/pics/mobile_1.png" data-aos="zoom-in"
							data-aos-easing="ease-in-sine" data-aos-duration="600">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer_in">
			<a href="#">About Us</a> <a href="#">Services</a> <a href="#">Policies</a>
		</div>
	</div>
	<!--========== Section IX FINISHED ==========-->
	<script src="js/simpleParallax.js"></script>
	<script>
		$(".curs").faceCursor();
	</script>
</body>
</html>